@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

/* CSS Variables */
:root {
    --c-blue: #0397D6;
    --font: 'IBM Plex Sans', sans-serif;
    --c-white: #FFFFFF;
}

.donorContainer {
    height: 100vh;
    padding: 35px 100px 0 20px;
}

.donorHeader {
    color: var(--c-blue);
    text-transform: uppercase;
    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 17px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.addDonorBtn {
    color: var(--c-blue);
    text-transform: uppercase;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid var(--c-blue);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
    text-decoration: none;
}

.donor-summary__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}
.donor-summary__column {
    background-color: #F9F9F9;
    padding: 30px;
    max-width: 49%;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.breadcrumbs > p {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
}


.donor-summary__title {
    text-transform: uppercase;
    font-weight: bold;
}

.form-label {
    text-transform: uppercase;
    color: #989A9B;
    font-size: 15px;
}

.form-control-plaintext {
    font-weight: bold;
}
