.container {
    margin-top: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginForm {
    margin-top: 2.5rem;
}

h2 {
    color: #009cd7;
}

.errorMessage {
    color: rgb(255, 50, 50);
    margin-top: 0.5rem;
  }

.spacer {
    margin-top: 0.5rem;
}

.loginBtn {
    margin-top: 2rem;
    padding: 0.7rem 0;
    text-align: center;
    border-radius: 2.5px;
    font-size: 0.9rem;
    color: #ffffff;
    background: #009cd7;
}