.sidebar {
    position: fixed;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
}

/* Only for the wrapper navbar where the next component has an offset from sidebar */
.sidebar + .sidebar-offset-left {
    padding-left: 280px;
    flex-grow: 1;
}

a {
    color: #0098DC;
    font-weight: bold;
}
a:hover {
    color: #0098DC;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.nav-link {
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: normal;
}

.nav-link.active {
    font-weight: bold;
}

.btn-logout {
    margin-top: auto;
    margin-bottom: 0;
}
